{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aimers list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpublication</th>
                <th>Idmembre</th>
                <th>Date</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aimer in aimers %}
            <tr>
                <td><a href="{{ path('aimer_show', { 'id': aimer.id }) }}">{{ aimer.idPublication }}</a></td>
                <td>{{ aimer.idMembre }}</td>
                <td>{{ aimer.date }}</td>
                <td>{{ aimer.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('aimer_show', { 'id': aimer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('aimer_edit', { 'id': aimer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aimer_new') }}">Create a new aimer</a>
        </li>
    </ul>
{% endblock %}
