{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aimer</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpublication</th>
                <td>{{ aimer.idPublication }}</td>
            </tr>
            <tr>
                <th>Idmembre</th>
                <td>{{ aimer.idMembre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ aimer.date }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ aimer.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aimer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('aimer_edit', { 'id': aimer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
