{% extends  "index.html.twig"%}
{% block c %}

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">list de transport</h3>

                <div class="table-responsive">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>position</th>
                            <th>destination</th>
                            <th>distance</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for trajet in trajet %}
                            <tr>
                                <td>{{ trajet.id }}</td>
                                <td>{{ trajet.position }}</td>

                                <td> {{ trajet.destination }}</td>
                                <td>{{ trajet.distance }}</td>
                                <td><a href="{{ path('deleate_trajet' ,{'Id':trajet.id} )}}" class="label label-danger">supprimer</a>
                                <td><a href="{{ path('edit_trajet' ,{'Id':trajet.id} )}}" class="label label-danger">Edit</a>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


       
{% endblock %}