{% extends  "index.html.twig"%}
{% block c %}

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Trajet</a></li>
                                <li><a href="#">modifier trajet</a></li>
                                <li class="active">Formulaire</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">


            <div class="row">



                <div class="col-lg-10">
                    {# <div class="card">
                         {% for message in app.flashes('success') %}

                         <div class="alert alert-success">
                             {{ message }}
                             {% endfor %}
                         </div>#}

                    <div class="card-header">
                        <strong>modifier </strong> trajet
                    </div>
                    <div class="card-body card-block">
                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.position,"position") }}
                            {{ form_widget(form.position,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.position) }}

                        </div>




                        <div class="form-group">
                            {{ form_label(form.destination,"destination ") }}
                            {{ form_widget(form.destination,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.destination) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.distance,"distance") }}
                            {{ form_widget(form.distance,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.distance) }}
                        </div>


                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">


            </div>

            <div class="col-lg-6">

            </div>



            <div class="col-lg-6">

            </div>





        </div>


    </div><!-- .animated -->
    </div><!-- .content -->


{% endblock c %}