{% extends  "front.html.twig"%}

{% block container %}

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">list de transport</h3>

                <div class="table-responsive">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>compagnie</th>
                            <th>trajet</th>
                            <th>type</th>
                            <th>horaire</th>
                            <th>prix </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for transport in transport %}
                            <tr>
                                <td>{{ transport.id }}</td>
                                <td>{{ transport.compagnie }}</td>
                                <td>{{ transport.trajet.nom }}</td>
                                <td> {{ transport.type }}</td>
                                <td>{{ transport.horaire }}</td>

                                <td>{{ transport.trajet.distance*0.5 }}</td>
                                <td><a href="{{ path('pdf',{'id':transport.id}) }}">Télécharger en pdf</a></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock container %}