{% extends  "index.html.twig"%}
{% block c %}

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Transport</a></li>
                                <li><a href="#">Ajouter Transport</a></li>
                                <li class="active">Formulaire</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">


            <div class="row">



                <div class="col-lg-10">
                    {# <div class="card">
                         {% for message in app.flashes('success') %}

                         <div class="alert alert-success">
                             {{ message }}
                             {% endfor %}
                         </div>#}

                    <div class="card-header">
                        <strong>modifier </strong> transport
                    </div>
                    <div class="card-body card-block">
                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.compagnie,"Compagnie") }}
                            {{ form_widget(form.compagnie,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.compagnie) }}

                        </div>




                        <div class="form-group">
                            {{ form_label(form.type,"Type ") }}
                            {{ form_widget(form.type,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.horaire,"Horaire") }}
                            {{ form_widget(form.horaire,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.horaire) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.prix,"Prix") }}
                            {{ form_widget(form.prix,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.prix) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.trajet,"trajet") }}
                            {{ form_widget(form.trajet,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.trajet) }}
                        </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">


            </div>

            <div class="col-lg-6">

            </div>



            <div class="col-lg-6">

            </div>





        </div>


    </div><!-- .animated -->
    </div><!-- .content -->


{% endblock c %}