{% extends 'publication/Blog.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 ftco-animate">
            <h2 class="mb-3">{{ publication.titre }}</h2>
    {% autoescape false %}{{ publication.contenu }} {% endautoescape %}
<br>
<br>
<br>
<br>
<img src="{{ asset('img/') }}{{ publication.image }}" style="height: auto; width: auto; max-width: 600px">
            <br>
            <br>
            <br>

            {% if app.user %}
            {% if app.user.id == publication.idMembre.id %}
            <br>
            <br>
            <br>

            <br>
                <button class="btn py-3 px-4 btn-primary" data-toggle="modal" data-target="#myModal">Modifier publication</button>
               &nbsp;
                <button class="btn py-3 px-4 btn-primary" onclick="window.location.href='{{ path('publication_deletee',{'id' : publication.id}) }}'">Supprimer</button>
<br>
<br>



            {% endif %}
                <button onclick="like(true)">Like</button>
                <button onclick="like(false)">Dislike</button>
                <div id="like-state"></div>
                liked by : <div id="liked"></div>{% for like in likes %}{% if like.liked == true %} {{ like.idMembre.username }} , {% endif %}{% endfor %}<br>
                disliked by : <div id="disliked">{% for like in likes %}{% if like.liked == false %} {{ like.idMembre.username }} , {% endif %}{% endfor %}</div> <br>
            {% endif %}
            <div class="pt-5 mt-5">
                <h3 class="mb-5">{{ commentaires|length }} Comments</h3>
                <ul class="comment-list">
                    {% for c in commentaires %}
                    <li class="comment">
                        <div class="vcard bio">
                        </div>
                        <div class="comment-body">
                            <h3>{{ c.idMembre }}</h3>
                            <div class="meta">{{ c.date|date("F jS") }}</div>
                            <p>{% autoescape false %}{{ c.message }} {% endautoescape %}</p>
                            {% if app.user %}
                            {% if app.user.id == c.idMembre.id %}
                            <p><a href="#" class="reply"  onclick="modc({{ c.id }})" data-toggle="modal" data-target="#myModalC">Modifier</a> &nbsp;
                                <a href="{{ path('commtaire_delete',{'id' : c.id}) }}" class="reply">Supprimer</a>
                            </p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    {{ form_start(formc) }}

                        <div class="form-group">
                            <label for="message">Message</label>
                            {{ form_widget(formc.message) }}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="poster commentaire" class="btn py-3 px-4 btn-primary">
                        </div>

                    {{ form_end(formc) }}
                </div>
            </div>

        </div> <!-- .col-md-8 -->
        <div class="col-md-4 sidebar ftco-animate">
            <div class="sidebar-box">
                <form action="#" class="search-form">
                    <div class="form-group">
                        <span class="icon icon-search"></span>
                        <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                    </div>
                </form>
            </div>

            <div class="sidebar-box ftco-animate">
                <h3>Recent Blog</h3>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url({{ asset('Front/') }}images/image_1.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url({{ asset('Front/') }}images/image_2.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a class="blog-img mr-4" style="background-image: url({{ asset('Front/') }}images/image_3.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-box ftco-animate">
                <h3>Tag Cloud</h3>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">dish</a>
                    <a href="#" class="tag-cloud-link">menu</a>
                    <a href="#" class="tag-cloud-link">food</a>
                    <a href="#" class="tag-cloud-link">sweet</a>
                    <a href="#" class="tag-cloud-link">tasty</a>
                    <a href="#" class="tag-cloud-link">delicious</a>
                    <a href="#" class="tag-cloud-link">desserts</a>
                    <a href="#" class="tag-cloud-link">drinks</a>
                </div>
            </div>

            <div class="sidebar-box ftco-animate">
                <h3>Paragraph</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
        </div>

    </div>



    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>

                    <button type="button" class="close" style="text-align: right" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Ajouter">
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModalC" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>

                    <button type="button" class="close" style="text-align: right" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input name="idc" id="idc" type="hidden">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="gestionnewfeedsbundle_commtaire_message" name="msg" required="required" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <input type="submit" value="Ajouter">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <script>
         function modc(idc) {
             document.getElementById('idc').value = idc;

        }
    </script>


    <script>
        function like(bool) {
            $.post("{{ path('like') }}",
                {
                    publication: {{ publication.id }},
                    like: bool
                },
                function(data,status){
                    window.location.reload();
                });
        }
    </script>
{% endblock %}