<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adventure - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('template/') }}css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('template/') }}css/animate.css">

    <link rel="stylesheet" href="{{ asset('template/') }}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ asset('template/') }}css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ asset('template/') }}css/magnific-popup.css">

    <link rel="stylesheet" href="{{ asset('template/') }}css/aos.css">

    <link rel="stylesheet" href="{{ asset('template/') }}css/ionicons.min.css">

    <link rel="stylesheet" href="{{ asset('template/') }}css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{ asset('template/') }}css/jquery.timepicker.css">


    <link rel="stylesheet" href="{{ asset('template/') }}css/flaticon.css">
    <link rel="stylesheet" href="{{ asset('template/') }}css/icomoon.css">
    <link rel="stylesheet" href="{{ asset('template/') }}css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Adventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ path('medmed_acc') }}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="places.html" class="nav-link">Places</a></li>
                <li class="nav-item"><a href="hotel.html" class="nav-link">Hotels</a></li>
                <li class="nav-item active"><a href="{{ path('blog') }}" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="{{ path('fos_user_security_logout') }}" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('{{ asset('template/') }}images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tips &amp; Articles</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        {% block body %}
            <div class="tag" style="text-align : right; padding : 30px 30px"><button class="btn py-3 px-4 btn-primary" data-toggle="modal" data-target="#myModal">Ajouter publication</button></div>


            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Header</h4>

                            <button type="button" class="close" style="text-align: right" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                            <h4>titre de votre publication: </h4>
                            {{ form_widget(form.titre) }}
                            <h4>votre localisation: </h4>
                            {{ form_widget(form.localisation) }}
                            <h4>ajouter un fichier: </h4>
                            {{ form_widget(form.file) }}
                            <h4>le contenu de la publication: </h4>
                            {{ form_widget(form.contenu) }}
                            <input type="submit" value="Ajouter publication" />
                            {{ form_end(form) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


        <div class="row d-flex">
            {% for p in pagination %}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="{{ path('article',{id : p.id}) }}" class="block-20" style="background-image: url('{{ asset('img/') }}{{ p.image }}');">
                    </a>
                    <div class="text">
                        <span class="tag">Tips, Travel</span>
                        <h3 class="heading mt-3"><a href="#">{{ p.titre }}</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">{{ p.date|date("F jS") }}</a></div>
                            <div><a href="#">{{ p.idMembre.username }}</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

         <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>


                            <li>
                                <center>   {{ knp_pagination_render(pagination) }}</center>

                            </li>
                        </ul>

                </div>
            </div>
        </div>


    </div>
        {#<div class="row mt-5">#}
            {#<div class="col text-center">#}
                {#<div class="block-27">#}
                    {#<ul>#}


                        {#<li><a href="#">&lt;</a></li>#}
                        {#<li class="active"><span>1</span></li>#}
                        {#<li><a href="#">2</a></li>#}
                        {#<li><a href="#">3</a></li>#}
                        {#<li><a href="#">4</a></li>#}
                        {#<li><a href="#">5</a></li>#}
                        {#<li><a href="#">&gt;</a></li>#}

                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
            {# display navigation #}

        {% endblock %}
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Adventure</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">About Us</a></li>
                        <li><a href="#" class="py-2 d-block">Online enquiry</a></li>
                        <li><a href="#" class="py-2 d-block">Call Us</a></li>
                        <li><a href="#" class="py-2 d-block">General enquiries</a></li>
                        <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                        <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                        <li><a href="#" class="py-2 d-block">Refund policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Experience</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Beach</a></li>
                        <li><a href="#" class="py-2 d-block">Adventure</a></li>
                        <li><a href="#" class="py-2 d-block">Wildlife</a></li>
                        <li><a href="#" class="py-2 d-block">Honeymoon</a></li>
                        <li><a href="#" class="py-2 d-block">Nature</a></li>
                        <li><a href="#" class="py-2 d-block">Party</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="{{ asset('template/') }}js/jquery.min.js"></script>
<script src="{{ asset('template/') }}js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ asset('template/') }}js/popper.min.js"></script>
<script src="{{ asset('template/') }}js/bootstrap.min.js"></script>
<script src="{{ asset('template/') }}js/jquery.easing.1.3.js"></script>
<script src="{{ asset('template/') }}js/jquery.waypoints.min.js"></script>
<script src="{{ asset('template/') }}js/jquery.stellar.min.js"></script>
<script src="{{ asset('template/') }}js/owl.carousel.min.js"></script>
<script src="{{ asset('template/') }}js/jquery.magnific-popup.min.js"></script>
<script src="{{ asset('template/') }}js/aos.js"></script>
<script src="{{ asset('template/') }}js/jquery.animateNumber.min.js"></script>
<script src="{{ asset('template/') }}js/bootstrap-datepicker.js"></script>
<script src="{{ asset('template/') }}js/jquery.timepicker.min.js"></script>
<script src="{{ asset('template/') }}js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{ asset('template/') }}js/google-map.js"></script>
<script src="{{ asset('template/') }}js/main.js"></script>

</body>
</html>