{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publications list</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Localisation</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Idmembre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td><a href="{{ path('publication_show', { 'id': publication.id }) }}">{{ publication.date }}</a></td>
                <td>{{ publication.localisation }}</td>
                <td>{{ publication.image }}</td>
                <td>{{ publication.contenu }}</td>
                <td>{{ publication.idMembre }}</td>
                <td>{{ publication.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publication_show', { 'id': publication.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('publication_edit', { 'id': publication.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publication_new') }}">Create a new publication</a>
        </li>
    </ul>
{% endblock %}
