{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publication creation</h1>

    {{ form_start(form) }}
    <h4>titre de votre publication: </h4>
        {{ form_widget(form.titre) }}
    <h4>votre localisation: </h4>
        {{ form_widget(form.localisation) }}
    <h4>ajouter un fichier: </h4>
        {{ form_widget(form.file) }}
    <h4>le contenu de la publication: </h4>
        {{ form_widget(form.contenu) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('publication_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

