{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publication</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ publication.date }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ publication.localisation }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ publication.image }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ publication.contenu }}</td>
            </tr>
            <tr>
                <th>Idmembre</th>
                <td>{{ publication.idMembre }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publication_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publication_edit', { 'id': publication.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
