{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commtaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpublication</th>
                <th>Idmembre</th>
                <th>Message</th>
                <th>Date</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commtaire in commtaires %}
            <tr>
                <td><a href="{{ path('commtaire_show', { 'id': commtaire.id }) }}">{{ commtaire.idPublication }}</a></td>
                <td>{{ commtaire.idMembre }}</td>
                <td>{{ commtaire.message }}</td>
                <td>{{ commtaire.date }}</td>
                <td>{{ commtaire.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commtaire_show', { 'id': commtaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commtaire_edit', { 'id': commtaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commtaire_new') }}">Create a new commtaire</a>
        </li>
    </ul>
{% endblock %}
