{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commtaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpublication</th>
                <td>{{ commtaire.idPublication }}</td>
            </tr>
            <tr>
                <th>Idmembre</th>
                <td>{{ commtaire.idMembre }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ commtaire.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commtaire.date }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ commtaire.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commtaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commtaire_edit', { 'id': commtaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
