

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adventure</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="{{asset ('template/css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/animate.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/aos.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{asset ('template/css/ionicons.min.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/jquery.timepicker.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{{asset ('admin_Template/assets/css/lib/datatable/dataTables.bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/icomoon.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/style.css')}}">
    <link href="{{asset ('menu/css/style.css')}}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>



</head>
<body >


<!-- END nav -->


{% block container %}
{% endblock container %}










<script src="{{asset ('template/js/jquery.min.js')}}"></script>
<script src="{{asset ('template/js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{asset ('template/js/popper.min.js')}}"></script>
<script src="{{asset ('template/js/bootstrap.min.js')}}"></script>
<script src="{{asset ('template/js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset ('template/js/jquery.waypoints.min.js')}}"></script>
<script src="{{asset ('template/js/jquery.stellar.min.js')}}"></script>
<script src="{{asset ('template/js/owl.carousel.min.js')}}"></script>
<script src="{{asset ('template/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset ('template/js/aos.js')}}"></script>
<script src="{{asset ('template/js/jquery.animateNumber.min.js')}}"></script>
<script src="{{asset ('template/js/bootstrap-datepicker.js')}}"></script>
<script src="{{asset ('template/js/jquery.timepicker.min.js')}}"></script>
<script src="{{asset ('template/js/scrollax.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{asset ('template/js/google-map.js')}}"></script>
<script src="{{asset ('template/js/main.js')}}"></script>

<script>
    jQuery(document).ready(function($) {
        "use strict";

        // Pie chart flotPie1
        var piedata = [
            { label: "Desktop visits", data: [[1,32]], color: '#5c6bc0'},
            { label: "Tab visits", data: [[1,33]], color: '#ef5350'},
            { label: "Mobile visits", data: [[1,35]], color: '#66bb6a'}
        ];

        $.plot('#flotPie1', piedata, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    innerRadius: 0.65,
                    label: {
                        show: true,
                        radius: 2/3,
                        threshold: 1
                    },
                    stroke: {
                        width: 0
                    }
                }
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        });
        // Pie chart flotPie1  End
        // cellPaiChart
        var cellPaiChart = [
            { label: "Direct Sell", data: [[1,65]], color: '#5b83de'},
            { label: "Channel Sell", data: [[1,35]], color: '#00bfa5'}
        ];
        $.plot('#cellPaiChart', cellPaiChart, {
            series: {
                pie: {
                    show: true,
                    stroke: {
                        width: 0
                    }
                }
            },
            legend: {
                show: false
            },grid: {
                hoverable: true,
                clickable: true
            }

        });
        // cellPaiChart End
        // Line Chart  #flotLine5
        var newCust = [[0, 3], [1, 5], [2,4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

        var plot = $.plot($('#flotLine5'),[{
                data: newCust,
                label: 'New Data Flow',
                color: '#fff'
            }],
            {
                series: {
                    lines: {
                        show: true,
                        lineColor: '#fff',
                        lineWidth: 2
                    },
                    points: {
                        show: true,
                        fill: true,
                        fillColor: "#ffffff",
                        symbol: "circle",
                        radius: 3
                    },
                    shadowSize: 0
                },
                points: {
                    show: true,
                },
                legend: {
                    show: false
                },
                grid: {
                    show: false
                }
            });
        // Line Chart  #flotLine5 End
        // Traffic Chart using chartist
        if ($('#traffic-chart').length) {
            var chart = new Chartist.Line('#traffic-chart', {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                series: [
                    [0, 18000, 35000,  25000,  22000,  0],
                    [0, 33000, 15000,  20000,  15000,  300],
                    [0, 15000, 28000,  15000,  30000,  5000]
                ]
            }, {
                low: 0,
                showArea: true,
                showLine: false,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showGrid: true
                }
            });

            chart.on('draw', function(data) {
                if(data.type === 'line' || data.type === 'area') {
                    data.element.animate({
                        d: {
                            begin: 2000 * data.index,
                            dur: 2000,
                            from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                            to: data.path.clone().stringify(),
                            easing: Chartist.Svg.Easing.easeOutQuint
                        }
                    });
                }
            });
        }
        // Traffic Chart using chartist End
        //Traffic chart chart-js
        if ($('#TrafficChart').length) {
            var ctx = document.getElementById( "TrafficChart" );
            ctx.height = 150;
            var myChart = new Chart( ctx, {
                type: 'line',
                data: {
                    labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" ],
                    datasets: [
                        {
                            label: "Visit",
                            borderColor: "rgba(4, 73, 203,.09)",
                            borderWidth: "1",
                            backgroundColor: "rgba(4, 73, 203,.5)",
                            data: [ 0, 2900, 5000, 3300, 6000, 3250, 0 ]
                        },
                        {
                            label: "Bounce",
                            borderColor: "rgba(245, 23, 66, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(245, 23, 66,.5)",
                            pointHighlightStroke: "rgba(245, 23, 66,.5)",
                            data: [ 0, 4200, 4500, 1600, 4200, 1500, 4000 ]
                        },
                        {
                            label: "Targeted",
                            borderColor: "rgba(40, 169, 46, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(40, 169, 46, .5)",
                            pointHighlightStroke: "rgba(40, 169, 46,.5)",
                            data: [1000, 5200, 3600, 2600, 4200, 5300, 0 ]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }

                }
            } );
        }
        //Traffic chart chart-js  End
        // Bar Chart #flotBarChart
        $.plot("#flotBarChart", [{
            data: [[0, 18], [2, 8], [4, 5], [6, 13],[8,5], [10,7],[12,4], [14,6],[16,15], [18, 9],[20,17], [22,7],[24,4], [26,9],[28,11]],
            bars: {
                show: true,
                lineWidth: 0,
                fillColor: '#ffffff8a'
            }
        }], {
            grid: {
                show: false
            }
        });
        // Bar Chart #flotBarChart End
    });
</script>
<script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("example");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        //alert("Latitude: " + copyText.value);
    }
    function myFunction1() {
        /* Get the text field */
        var copyText = document.getElementById("example1");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        //  alert("Longitude: " + copyText.value);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>


<script src="{{asset ('admin_Template/assets/js/lib/data-table/datatables.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/dataTables.bootstrap.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/dataTables.buttons.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/buttons.bootstrap.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/jszip.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/vfs_fonts.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/buttons.html5.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/buttons.print.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/lib/data-table/buttons.colVis.min.js')}}"></script>
<script src="{{asset ('admin_Template/assets/js/init/datatables-init.js')}}"></script>



<script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table-export').DataTable();
    } );
</script>
</body>
</html>