

<li class="dropdown"> <a class="" data-toggle="dropdown" href="#"><button class="btn btn-primary">Notifications</button>
        <div class=""><span class=""></span><span class=""></span></div>
    </a>
    <ul class="dropdown-menu mailbox animated bounceInDown">
        <li>
            <div class="drop-title">You have 4 new messages</div>
        </li>
        {% for notif in notifications %}
            <li>
                <div class="message-center">


                    <a href="">
                        <div class="user-img"> {{ notif.title }} <span class="profile-status offline pull-right"></span> </div>
                        <div class="mail-contnet">
                            <span class="mail-desc"> {{ notif.description }}</span> <span class="time">{{ notif.date|date }}</span> </div>
                    </a>
                </div>

            </li>
        {% else %}
            <li>list empty</li>
        {% endfor %}
        <li>
            <a class="text-center" href="javascript:void(0);"> <strong>Voir toutes les notifications</strong> <i class="fa fa-angle-right"></i> </a>
        </li>
    </ul>
