{% extends 'base.html.twig' %}

{% block body %}
    <h1>Membres list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Role</th>
                <th>Psw</th>
                <th>Pseudo</th>
                <th>Permis</th>
                <th>Motorise</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td><a href="{{ path('membre_show', { 'id': membre.id }) }}">{{ membre.nom }}</a></td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.adresse }}</td>
                <td>{{ membre.mail }}</td>
                <td>{{ membre.role }}</td>
                <td>{{ membre.psw }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>{% if membre.permis %}Yes{% else %}No{% endif %}</td>
                <td>{% if membre.motorise %}Yes{% else %}No{% endif %}</td>
                <td>{{ membre.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('membre_show', { 'id': membre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('membre_edit', { 'id': membre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membre_new') }}">Create a new membre</a>
        </li>
    </ul>
{% endblock %}
