{% extends 'base.html.twig' %}

{% block body %}
    <h1>Membre</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ membre.adresse }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ membre.mail }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ membre.role }}</td>
            </tr>
            <tr>
                <th>Psw</th>
                <td>{{ membre.psw }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ membre.pseudo }}</td>
            </tr>
            <tr>
                <th>Permis</th>
                <td>{% if membre.permis %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Motorise</th>
                <td>{% if membre.motorise %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('membre_edit', { 'id': membre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
