{% extends  "front.html.twig"%}
{% block container %}

    <div class="container form-group card-body">

<div class="card-body">
    <a href="{{ path('medmed_creat') }}" class="btn btn-primary btn-sm">Ajouter</a>

</div>

                    <div class="card-body">
                        <div class="card-header">
                            <strong class="card-title">Agence</strong>
                            {% for message in app.flashes('success') %}

                            <div class="alert alert-success">
                                {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">

                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <td>Id </td>
                                    <td>Nom </td>
                                    <td>Type</td>

                                    <td>Telephone</td>
                                    <td>Action</td>

                                </tr>
                                </thead>
                                <tbody>

                                {% for agence in agence %}
                                    <tr>
                                        <td>{{ agence.id }}</td>
                                        <td>{{ agence.nom }}</td>
                                        <td>{{ agence.type }}</td>
                                        <td>{{ agence.telephone }}</td>
                                        <td>
                                            <a href="{{ path('medmed_offre_A',{'id':agence.id}) }}" style="color:#0101DF;">Offre</a>
                                            <a href="{{ path('medmed_edit',{'id':agence.id}) }}" style="color:#40FF00;">Modifier</a>
                                            <a href="{{ path('medmed_delete',{'id':agence.id}) }}" style="color:#ea4335;">Supprimer</a>

                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>


        </div><!-- .animated -->

    {% endblock container %}