
{% extends  "fos.html.twig"%}

{% block container %}
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/fonts/iconic/css/material-design-iconic-font.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset ('login/css/main.css')}}">

    <div class=" form-group">
        <a href="{{ path('medmed_Afficher_A') }}" class="link" style="color: #00aced" >Retour</a>

    </div>

    <div class="limiter">
        <div class="container-login100">
            <div class="container p-l-55 p-r-55 p-t-65 ">
                <span class="login100-form-title p-b-49">
Ajouter Offre
                </span>
                <div class="container form-group card-body">
                    <div class="container-wrap">
                        {% for message in app.flashes('success') %}

                        <div class="alert alert-success">
                            {{ message }}
                            {% endfor %}
                        </div>



                        <div class="form-group">
                            {{ form_start(form) }}

                            {{ form_label(form.type,"Type") }}
                            {{ form_widget(form.type,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.type) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.info,"Info") }}
                            {{ form_widget(form.info,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.info) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.libelle,"Libelle") }}
                            {{ form_widget(form.libelle,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.libelle) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.prix,"Prix") }}
                            {{ form_widget(form.prix,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.prix) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.id_agence,"Agence") }}
                            {{ form_widget(form.id_agence,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.id_agence) }}

                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock container %}