{% extends  "front.html.twig"%}
{% block container %}

<div class="content">
    <div class="animated fadeIn">


        <div class="row">



            <div class="container form-group card-body">
                <div class="card">
                    {% for m in app.flashes('success') %}

                    <div class="alert alert-success">
                        {{ m }}
                        {% endfor %}
                    </div>

                    <div class="card-header">
                        <strong>Modifier </strong> Agence
                    </div>
                    <div class="container form-group card-body">
                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.nom,"Nom agence") }}
                            {{ form_widget(form.nom,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.nom) }}

                        </div>
                        <div class="form-group">

                            <div class="col-lg-16" >
                                <label style="animation: alternate" size="5px">Veuillez indiquez votre adresse </label>
                                <div id="mapid" style="width: 640px;height: 480px"></div>
                                <div class="input-container">
                                    <button class="btn-dark"  onclick="myFunction()"><i class="far fa-copy"></i> </button>

                                    <input type="text" id="example" placeholder="latitude" style="width: 220px;">
                                </div>
                                <div class="input-container">
                                    <button class="btn-dark"  onclick="myFunction1()"><i class="far fa-copy"></i> </button>

                                    <input type="text" id="example1" placeholder="longitude" style="width: 220px;">
                                </div>
                            </div>


                        </div>
                        <div class="form-group">
                            {{ form_label(form.latitude	,"Latitude") }}
                            {{ form_widget(form.latitude,{'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.latitude) }}


                            {{ form_label(form.longitude,"Longitude") }}
                            {{ form_widget(form.longitude,{'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.longitude) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.telephone,"Numero telephone") }}
                            {{ form_widget(form.telephone,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.telephone) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.type,"Type agence") }}
                            {{ form_widget(form.type,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.info,"Information") }}
                            {{ form_widget(form.info,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.info) }}
                        </div>


                        {{ form_rest(form) }}

                    </div>
                    <div class="card-body">
                        <a href="{{ path('medmed_Afficher') }}" class="btn btn-primary btn-sm">Retour</a>

                    </div>
                </div>

            </div>







        </div>


    </div><!-- .animated -->
</div><!-- .content -->
{% endblock container %}
