<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adventure </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="{{asset ('template/css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/animate.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/aos.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/ionicons.min.css')}}">

    <link rel="stylesheet" href="{{asset ('template/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/jquery.timepicker.css')}}">


    <link rel="stylesheet" href="{{asset ('template/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/icomoon.css')}}">
    <link rel="stylesheet" href="{{asset ('template/css/style.css')}}">





</head>
<body>



<!-- END nav -->



{% block container %}
{% endblock container %}



<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Adventure</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">About Us</a></li>
                        <li><a href="#" class="py-2 d-block">Online enquiry</a></li>
                        <li><a href="#" class="py-2 d-block">Call Us</a></li>
                        <li><a href="#" class="py-2 d-block">General enquiries</a></li>
                        <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                        <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                        <li><a href="#" class="py-2 d-block">Refund policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Experience</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Beach</a></li>
                        <li><a href="#" class="py-2 d-block">Adventure</a></li>
                        <li><a href="#" class="py-2 d-block">Wildlife</a></li>
                        <li><a href="#" class="py-2 d-block">Honeymoon</a></li>
                        <li><a href="#" class="py-2 d-block">Nature</a></li>
                        <li><a href="#" class="py-2 d-block">Party</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>







<script src="{{asset ('template/js/jquery.min.js')}}"></script>
<script src="{{asset ('template/js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{asset ('template/js/popper.min.js')}}"></script>
<script src="{{asset ('template/js/bootstrap.min.js')}}"></script>
<script src="{{asset ('template/js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset ('template/js/jquery.waypoints.min.js')}}"></script>
<script src="{{asset ('template/js/jquery.stellar.min.js')}}"></script>
<script src="{{asset ('template/js/owl.carousel.min.js')}}"></script>
<script src="{{asset ('template/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset ('template/js/aos.js')}}"></script>
<script src="{{asset ('template/js/jquery.animateNumber.min.js')}}"></script>
<script src="{{asset ('template/js/bootstrap-datepicker.js')}}"></script>
<script src="{{asset ('template/js/jquery.timepicker.min.js')}}"></script>
<script src="{{asset ('template/js/scrollax.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{{asset ('template/js/google-map.js')}}"></script>
<script src="{{asset ('template/js/main.js')}}"></script>

</body>
</html>