{% extends  "front.html.twig"%}
{% block container %}

    <div class="container form-group card-body">
    <div class="container-wrap">
    <table id="table" style="display: none;" >

        <tbody>

        {% for agence in agence %}
            <tr>

                <td id="latitude">{{ agence.latitude }}</td>
                <td id="longitude">{{ agence.longitude }}</td>
                <td id="latitude">{{ agence.nom }}</td>

            </tr>
        {% else %}
            <tr>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <div class="content">
        <div class="card-header">

            <h3 class="card-title" style="color:#0101DF;">Agence Localisation</h3>
        </div>

        <div class="col-md-auto" id="mapid" style="width: 1010px;height: 480px"></div>
        <div class="card-body">
            <a href="{{ path('medmed_acc') }}" class="btn btn-primary btn-sm">Retour</a>

        </div>
    </div>
    </div>
    </div>
    <script>

        var arrayLignes = document.getElementById("table");

        window.onload=function () {
            console.log("page charg");

            var mapboxUrl= 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';

            var mapboxAttribution='Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> ' +
                'contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';




            var mapboxtoken='pk.eyJ1IjoibWVkY2FiaXN0ZSIsImEiOiJjanRudmxqNDMwZ3J6NDRuMm5qZ2Zka2F0In0.YlvlWPvJrQny19UOUWdmjA';


            var streets=L.tileLayer(mapboxUrl, {
                attribution:mapboxAttribution ,
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: mapboxtoken
            });
            var satellite=L.tileLayer(mapboxUrl, {
                attribution:mapboxAttribution ,
                maxZoom: 18,
                id: 'mapbox.satellite',
                accessToken: mapboxtoken
            });

            var mymap = L.map('mapid',{
                center:[36.723620, 9.648655],
                zoom:6,
                layers:[satellite,streets]
            });

            var baseMaps = {
                "Rues": streets,
                "satellite": satellite
            };

            L.control.layers(baseMaps).addTo(mymap);

            for ( var i = 0; row = arrayLignes.rows[i]; i++ ) {
                row = arrayLignes.rows[i];

                col = row.cells.item(0)
                col2 = row.cells.item(1)
                col3 = row.cells.item(2)

                L.marker([col.firstChild.nodeValue,col2.firstChild.nodeValue]).addTo(mymap)
                    .bindPopup('<b>Nom : </b><br> '+col3.firstChild.nodeValue)
                    .openPopup();
            }


        }

    </script>

{%endblock  container %}