{% extends  "front.html.twig"%}
{% block container %}

    <div class="container form-group card-body">

        <div class="card-body">
            <a href="{{ path('Ajouter_offre') }}" class="btn btn-primary btn-sm">Ajouter</a>

        </div>

        <div class="card-body">
            <div class="card-header">
                <strong class="card-title">Offre</strong>

                </div>
            </div>
            <div class="card-body">

                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <td>Id </td>
                        <td>Type </td>
                        <td>Libelle</td>
                        <td>Prix</td>

                        <td>Date</td>
                        <td>Action</td>

                    </tr>
                    </thead>
                    <tbody>

                    {% for offre in offre %}
                        <tr>
                            <td>{{ offre.id }}</td>
                            <td>{{ offre.type }}</td>
                            <td>{{ offre.libelle }}</td>
                            <td>{{ offre.prix }}</td>
                            <td>{{ offre.date }}</td>
                            <td>


                                <a href="{{ path('offre_view',{'id':offre.id}) }}" style="color:#00dbde;" >View</a>


                            </td>
                        </tr>
                    {% else %}
                        <tr>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>


    </div><!-- .animated -->

{% endblock container %}