


{% extends  "fos.html.twig"%}

{% block container %}
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/fonts/iconic/css/material-design-iconic-font.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset ('login/css/main.css')}}">

    <div class=" form-group">
        <a href="{{ path('medmed_Afficher_A') }}" class="link" style="color: #00aced" >Retour</a>

    </div>

    <div class="limiter">
        <div class="container-login100">
            <div class="container p-l-55 p-r-55 p-t-65 ">
                <span class="login100-form-title p-b-49">
Agence                </span>
    <div class="content">
        <div class="animated fadeIn">

            <div class="container form-group card-body">
                <a href="{{ path('medmed_geo',{'id':agence.id}) }}" class="link" style="color:#ea4335;">Maps</a>
            </div>
            <div class="row">




                <div class="container form-group card-body">

                    <div class="list-group">
                        {% for mess in app.flashes('success') %}

                        <div class="alert alert-success">
                            {{ mess }}
                            {% endfor %}
                        </div>
                        <p>Nom :</p>
                        <p class="list-group-item" style="color: #0c0c0c">{{ agence.nom }}</p>
                        <p>Type :</p>
                        <p class="list-group-item" style="color: #0c0c0c">{{ agence.type }}</p>
                        <p>Info :</p>
                        <p class="list-group-item"style="color: #0c0c0c">{{ agence.info }}</p>
                        <p>Telephone :</p>
                        <p class="list-group-item" style="color: #0c0c0c">{{ agence.telephone }}</p>

                    </div>

                </div>





            </div>


        </div><!-- .animated -->
    </div>
                </div>
        </div>
    </div>



{% endblock container %}