


{% extends  "fos.html.twig"%}

{% block container %}
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/fonts/iconic/css/material-design-iconic-font.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{asset ('login/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset ('login/css/main.css')}}">

    <div class=" form-group">
        <a href="{{ path('medmed_offre_all') }}" class="link" style="color: #00aced" >Retour</a>

    </div>

    <div class="limiter">
        <div class="container-login100">
            <div class="container p-l-55 p-r-55 p-t-65 ">
                <span class="login100-form-title p-b-49">
Offre
                </span>
                <div class="content">
                    <div class="animated fadeIn">

                        <div style="background: #6ffffc" class="container form-group card-body">



                            </div>
                        <label style="color: #0b0b0b" class="list-group-item"><b>Libelle :</b></label>

                            <p class="list-group-item">{{ offre.libelle }}</p>
                            <label style="color: #0b0b0b" class="list-group-item"><b>Type :</b></label>

                            <p class="list-group-item">{{ offre.type }}</p>
                            <label style="color: #0b0b0b" class="list-group-item"><b>Prix :</b></label>

                            <p class="list-group-item">{{ offre.prix }}</p>
                            <label style="color: #0b0b0b" class="list-group-item"><b>Info :</b></label>

                            <p class="list-group-item">{{ offre.info }}</p>
                            <label style="color: #0b0b0b" class="list-group-item"><b>Date :</b></label>

                            <p class="list-group-item">{{ offre.date }}</p>
                            <input type="text" name="nom" id="prix" style="display: none;" value="{{ offre.prix }}">

                        <div class="row">
                        <div class="form-group ">

                            <div id="paypal-button-container"></div>
                        </div>



                            <!-- Include the PayPal JavaScript SDK -->
                            <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

                            <script>
                                var prix =  document.getElementById('prix').value;

                                // Render the PayPal button into #paypal-button-container
                                paypal.Buttons({

                                    // Set up the transaction
                                    createOrder: function(data, actions) {
                                        return actions.order.create({
                                            purchase_units: [{
                                                amount: {
                                                    value: prix.toString()
                                                }
                                            }]
                                        });
                                    },
                                    local: 'en_US',
                                    style:{
                                        size:'large',
                                        color:'gold',
                                        shape: 'pill'
                                    },

                                    // Finalize the transaction
                                    onApprove: function(data, actions) {
                                        return actions.order.capture().then(function(details) {
                                            // Show a success message to the buyer
                                            alert('Transaction completed by ' + details.payer.name.given_name + 'med');
                                        });
                                    }


                                }).render('#paypal-button-container');
                            </script>








                        </div>


                    </div><!-- .animated -->
                </div>
            </div>
        </div>
    </div>



{% endblock container %}