{% extends  "index.html.twig"%}
{% block c %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h4>Ajouter Produit </h4>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="feather icon-home"></i> </a>
                                        </li>

                                        <li class="breadcrumb-item"><a href="#!">Form Components</a>

                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Form Validation</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">

                                    </div>
                                    <div class="card-block">
                                        <form id="main" method="post" action="https://colorlib.com/" novalidate>
                                            <div class="form-group row">

                                                <div class="col-sm-10">

                                                    <div id="fcd" name="name" placeholder="Text Input Validation">


                                                        <table id="tabletable">
                                                            {{ form_start(form) }}
                                                            {{ form_widget(form) }}
                                                            <input type="submit" value="Create" />
                                                            {{ form_end(form) }}

                                                            <ul>
                                                                <li>
                                                                    <a href="{{ path('person_index') }}">Back to the list</a>
                                                                </li>
                                                            </ul>



                                                        </table>


                                                    </div>
                                                    <span class="messages"></span>

                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#Produitbundle_produit_categorie').change(function () {
            var categorieSelector = $(this);

            // Request the neighborhoods of the selected city.
            $.ajax({
                url: "{{ path('produit_list_souscategorie') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    categorie_id: categorieSelector.val()
                },
                success: function (categories) {
                    var souscategoriesSelect = $("#produitbundle_categorie_souscategorie");

                    // Remove current options
                    souscategorieSelect.html('');

                    // Empty value ...
                    souscategorieSelect.append('<option value> Select a neighborhood of ' + categorieSelector.find("option:selected").text() + ' ...</option>');


                    $.each(souscategories, function (key, souscategorie) {
                        souscategorieSelect.append('<option value="' + souscategorie.id + '">' + souscategorie.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("An error ocurred while loading data ...");
                }
            });
        });
    </script>
{% endblock %}