{% extends  "index.html.twig"%}
{% block c %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Forms</a></li>
                                <li class="active">Basic</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">


            <div class="row">



                <div class="col-lg-10">
                    <div class="card">
                        {% for message in app.flashes('success') %}

                        <div class="alert alert-success">
                            {{ message }}
                            {% endfor %}
                        </div>

                        <div class="card-header">
                            <strong>Ajouter </strong> PRODUIT
                        </div>
                        <div class="card-body card-block">
                            {{ form_start(form_add) }}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">nom du produit</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form_add.nomProduit, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'Nom'}}) }}
                                    <span class="messages"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">photo du produit</label>
                                <div class="col-sm-10">

                                    {{ form_widget(form_add.photoProduit) }}
                                    <span class="messages"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">reference du produit</label>
                                <div class="col-sm-10">

                                    {{ form_widget(form_add.reference, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'test'}}) }}
                                    <span class="messages"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">prix de vente du produit</label>
                                <div class="col-sm-10">

                                    {{ form_widget(form_add.prixVente, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'test'}}) }}
                                    <span class="messages"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">prix d'achat du produit</label>
                                <div class="col-sm-10">

                                    {{ form_widget(form_add.prixAchat, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'test'}}) }}
                                    <span class="messages"></span>
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">quantité du produit</label>
                                <div class="col-sm-10">

                                    {{ form_widget(form_add.quantite, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'test'}}) }}
                                    <span class="messages"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Sous categorie</label>
                                <div class="col-sm-10">

                                    {{ form_widget(form_add.souscategorie, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'test'}}) }}
                                    <span class="messages"></span>
                                </div>
                            </div>


                            {{ form_widget(form_add.submit, {'attr': {'class': 'btn btn-primary m-b-0','value':'Ajouter Produit'}}) }}


                            {{ form_end(form_add) }}
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">


                </div>

                <div class="col-lg-6">

                </div>



                <div class="col-lg-6">

                </div>





            </div>


        </div><!-- .animated -->
    </div><!-- .content -->
{% endblock c %}