{% extends  "index.html.twig"%}
{% block c %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h4>Formulaire d'ajout d'une sous-categorie</h4>
                                        <span>Veuillez Remplir tout les champs</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>Formulaire d'ajout</h5>

                                    </div>
                                    <div class="card-block">
                                        <form  method="post">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">nom de la sous-categorie</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="nomSousCategorie" id="nomSousCategorie" >
                                                    <span class="messages"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Reference de la sous-categorie</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="referenceSousCategorie" id="referenceSousCategorie" >
                                                    <span class="messages"></span>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> Categorie </label>
                                                <div class="col-sm-10">
                                                    <select name="categorie" class="form-control form-control-primary">
                                                        {% for entity in categorie %}
                                                            <option value="{{ entity.id }}">{{ entity.nomCategorie }}</option>
                                                        {% endfor %}

                                                    </select>
                                                </div>

                                            </div>






                                            <div class="form-group row">
                                                <label class="col-sm-2"></label>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary m-b-0">Ajouter Sous Categorie</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="styleSelector">
            </div>
        </div>
    </div>
    </div>


{% endblock %}