
{% extends 'front.html.twig' %}



{% block container %}





    <div class="header-area clearfix">
        <div class="header-top">
            <div class="container">
                <div class="border-bottom-1">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="welcome-area">
                                {% if app.user %}
                                    <p> Bienvenue {{ app.user.username }} ! </p>
                                {% else %}
                                    <p> Bienvenue  ! </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">

                        </div>
                        <div class="col-lg-9 col-md-8 col-6">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom transparent-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="logo">

                        </div>
                    </div>
                    <div class="product-details pt-75 pb-65">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="product-details-img">

                                        <img class="zoompro" src="{{ asset('uploads/produits/'~photoProduit) }}" data-zoom-image="assets/img/product-details/product-detalis-bl1.jpg" alt="zoom"/>


                                        <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                                            <a data-image="assets/img/product-details/product-detalis-l1.jpg" data-zoom-image="assets/img/product-details/product-detalis-bl1.jpg">
                                                <img src="#" alt="">
                                            </a>


                                        </div>
                                        {#<div class="col-lg-6 col-md-12">#}
                                            <div class="product-details-content">
                                                <h1> {{ nomProduit }}  </h1>
                                                <div class="rating-well">

                                                  {{ 4 |rating(5, "fa-2x") }}

                                                </div>

                                            {#</div>#}


                                                <span> {{ produit.prixVente }}TND </span>
                                                <div class="in-stock">
                                                    <p>Available: <span> {% if produit.quantite > 0 %} In stock <br> <b> <h3>Only   {{ produit.quantite }}   left! </h3> </b>{% else %} Not In stock {% endif %}
                                    </span></p>
                                                </div>







                                                <div class="main">
                                                    <div id="mi-slider" class="mi-slider">


                                                        {% if suggestions is defined %}


                                                        {% for categorie in categories %}
                                                            {% for suggestion in suggestions %}
                                                                <ul>
                                                                    {% for product in suggestion %}
                                                                        <li>
                                                                            <a href="{{ path('recommended', { 'id' : product.id }) }}">

                                                                                <h4 class="indieflower">{{ product.nomProduit }}</h4>
                                                                            </a>
                                                                            <h5 class="indieflowerprix">{{ product.prixVente }}€</h5>

                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <nav>
                                                            {% for categorie in categories %}
                                                                <a href="#">{{ categorie.nomCategorie }}</a>

                                                            {% endfor %}
                                                        </nav>
                                                    </div>


                                                    {% endif %}
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" value="wishlist" class="btn btn-primary py-3 px-5">
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    </div>
                                </div>

                    </div>


                </div>

            </div>
        </div>
    </div>





                    {% endblock %}


