{% extends  "front.html.twig"%}

{% block container %}

    <div class="shop-page-area pt-75 pb-75" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">


                    <section  class="ftco-section">
                        <div class="row">
                            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                                <div class="sidebar-wrap ftco-animate">
                                    <h3 class="heading mb-4">Produits par Categorie</h3>
                                    <form action="#">
                                        <div class="fields">

                                            <div class="form-group">
                                                <div class="select-wrap one-third">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>

                                                    <ul id="faq">
                                                        {% for entity in categorieF %}
                                                            <li> <a  href="{{ path('ProduitByCat',{'categorie_id':entity.id })}}">{{ entity.nomCategorie }}</a>
                                                            </li>
                                                        {% endfor %}

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="range-slider">
		              		<span>
										    <input type="number" value="25000" min="0" max="120000"/>	-
										    <input type="number" value="50000" min="0" max="120000"/>
										  </span>
                                                <input value="1000" min="0" max="120000" step="500" type="range"/>
                                                <input value="50000" min="0" max="120000" step="500" type="range"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                                        </div>
                                </div>
                                </form>
                            </div>

                            </form>
                        </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">

                    {% for entity in produits %}



                        <div class="col-sm col-md-6 col-lg-4 ftco-animate fadeInUp ftco-animated">
                            <div class="destination">




                                <a href="{{  path('DetailsProduit',
                                    {'id':entity.id,'nomProduit':entity.nomProduit,'prixVente':entity.prixVente,'photoProduit':entity.photoProduit,'quantite':entity.quantite,'usr':app.user.id} )}}"
                                class="img img-2 d-flex justify-content-center align-items-center"
                                   style="background-image: url({{ asset('uploads/produits/'~entity.photoProduit) }});">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-link"></span>
                                    </div>
                                </a>

                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="#">{{ entity.nomProduit }}</a></h3>
                                            <p class="rate">
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star"></i>
                                                <i class="icon-star-o"></i>
                                                <span>8 Rating</span>
                                            </p>
                                        </div>
                                        <div class="two">
                                            <span class="price">PRIX: {{ entity.prixVente }}TND</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="bottom-area d-flex">

                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <span class="ml-auto"><a href="{{ path('wishlist', {'id':entity.id}) }}">Wishlist</a></span>
                                        {% endif %}
                                    </p>

                                </div>
                            </div>



                        </div>

                    {% endfor %}


                </div>
            </div>
            <div class="pagination-total-pages">
                <div class="pagination-style">

                </div>

            </div>
            </section>
        </div>
    </div>

    </div>
    </div>



{% endblock  %}
