{% extends  "index.html.twig"%}
{% block c %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h4>Tableau des Produits</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card">

                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                                                        <div class="dataTables_length" id="simpletable_length"></div>
                                                    </div>
                                                    <ul class="">
                                                        <li class="header-search">
                                                            <div class="main-search morphsearch-search open">

                                                                    <form class="navbar-form navbar-right" role="search">
                                                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                                                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                                                                        <div class="form-group  is-empty">
                                                                            <input type="text" name="search" id="search" class="form-control" placeholder="Recherche"/>
                                                                            <span class="material-input"></span>
                                                                        </div>
                                                                    </form>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <table id="simpletable"
                                                               class="table table-striped table-bordered nowrap dataTable"
                                                               role="grid" aria-describedby="simpletable_info">
                                                            <thead>
                                                            <tr role="row">
{#{{ form_widget(form_add.nomProduit, {'attr': {'class': 'form-control','name':'name','id':'name','placeholder':'test'}}) }}#}
                                                                <input type="text" class="form-control" name="nomProduit" id="nomProduit" >
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="simpletable" rowspan="1" colspan="1"
                                                                    style="width: 10px;">ID Produit
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 100px;">nom du produit
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 300px;">date du Produit
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 36px;">prix de Vente
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 30px;">prix d'Achat
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 20px;">quantite
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 20px;">reference
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 57px;">photo du Produit
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 20px;">categorie
                                                                </th>

                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 57px;">Action
                                                                </th>
                                                                <th class="sorting" tabindex="0"
                                                                    style="width: 57px;">
                                                                </th>


                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for produit in produits %}

                                                                <tr role="row" class="odd">
                                                                    <td class="sorting_1">{{ produit.id }}</td>
                                                                    <td><h4>{{ produit.nomProduit }}</h4></td>
                                                                    <td>{{ produit.dateProduit}}</td>
                                                                    <td>{{ produit.prixVente }}</td>
                                                                    <td>{{ produit.prixAchat }}</td>
                                                                    <td>{{ produit.quantite }}</td>
                                                                    <td>{{ produit.reference }}</td>
                                                                    <td><img alt="" src="{{ asset('uploads/produits/'~produit.photoProduit) }}" width="250px" height="300px"></td>

                                                                    <td>{{ produit.souscategorie.nomSousCategorie }}</td>
                                                                  <td>  <div class="col-xs-6 edit-right text-right">
                                                                        <button type="submit" class="btn btn-danger waves-effect waves-light"><a href="{{ path('SupprimerProduit',{'id': produit.id}) }}">Supprimer

                                                                            </a>  <i class="icofont icofont-close-circled f-16 m-l-5"></i> </button> </div> </td>

                                                                 <td><div class="form-group">
                                                                         <button type="submit" class="btn btn-primary waves-effect waves-light">




                                                                             <a href="{{ path('ModifierProduit',{'id': produit.id}) }}">Modifier</a> </button></div></td>









                                                                </tr>
                                                            {% endfor %}



                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-5">

                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-7">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $(document).ready(function(){
                                        $('#search').keyup(function(){
                                            search_table($(this).val());
                                        });
                                        function search_table(value){
                                            $('#simpletable tr').each(function(){
                                                var found = 'false';
                                                $(this).each(function(){
                                                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                    {
                                                        found = 'true';
                                                    }
                                                });
                                                if(found == 'true')
                                                {
                                                    $(this).show();

                                                }
                                                else
                                                {
                                                    $(this).hide();
                                                }
                                            });
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="styleSelector">
                <div class="selector-toggle"><a href="javascript:void(0)"></a></div>
                <ul>
                    <li><p class="selector-title main-title st-main-title"><b>Adminty </b>Customizer</p><span
                                class="text-muted">Live customizer with tons of options</span></li>
                    <li><p class="selector-title">Main layouts</p></li>
                    <li>
                        <div class="theme-color"><a href="#" class="navbar-theme" navbar-theme="themelight1"><span
                                        class="head"></span><span class="cont"></span></a><a href="#"
                                                                                             class="navbar-theme"
                                                                                             navbar-theme="theme1"><span
                                        class="head"></span><span class="cont"></span></a></div>
                    </li>
                </ul>
                <div class="slimScrollDiv"
                     style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 440px);">
                    <div class="style-cont m-t-10" style="overflow: hidden; width: auto; height: calc(100vh - 440px);">
                        <ul class="nav nav-tabs  tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#sel-layout"
                                                    role="tab">Layouts</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sel-sidebar-setting"
                                                    role="tab">Sidebar Settings</a></li>
                        </ul>
                        <div class="tab-content tabs">
                            <div class="tab-pane active" id="sel-layout" role="tabpanel">
                                <ul>
                                    <li class="theme-option">
                                        <div class="checkbox-fade fade-in-primary"><label><input type="checkbox"
                                                                                                 value="false"
                                                                                                 id="sidebar-position"
                                                                                                 name="sidebar-position"
                                                                                                 checked=""><span
                                                        class="cr"><i
                                                            class="cr-icon feather icon-check txt-success f-w-600"></i></span><span>Fixed Sidebar Position</span></label>
                                        </div>
                                    </li>
                                    <li class="theme-option">
                                        <div class="checkbox-fade fade-in-primary"><label><input type="checkbox"
                                                                                                 value="false"
                                                                                                 id="header-position"
                                                                                                 name="header-position"
                                                                                                 checked=""><span
                                                        class="cr"><i
                                                            class="cr-icon feather icon-check txt-success f-w-600"></i></span><span>Fixed Header Position</span></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="sel-sidebar-setting" role="tabpanel">
                                <ul>
                                    <li class="theme-option"><p class="sub-title drp-title">Menu Type</p>
                                        <div class="form-radio" id="menu-effect">
                                            <div class="radio radio-inverse radio-inline" data-toggle="tooltip" title=""
                                                 data-original-title="simple icon"><label><input type="radio"
                                                                                                 name="radio"
                                                                                                 value="st6"
                                                                                                 onclick="handlemenutype(this.value)"
                                                                                                 checked="true"><i
                                                            class="helper"></i><span class="micon st6"><i
                                                                class="feather icon-command"></i></span></label></div>
                                            <div class="radio  radio-primary radio-inline" data-toggle="tooltip"
                                                 title="" data-original-title="color icon"><label><input type="radio"
                                                                                                         name="radio"
                                                                                                         value="st5"
                                                                                                         onclick="handlemenutype(this.value)"><i
                                                            class="helper"></i><span class="micon st5"><i
                                                                class="feather icon-command"></i></span></label></div>
                                        </div>
                                    </li>
                                    <li class="theme-option"><p class="sub-title drp-title">SideBar Effect</p><select
                                                id="vertical-menu-effect" class="form-control minimal">
                                            <option name="vertical-menu-effect" value="shrink">shrink</option>
                                            <option name="vertical-menu-effect" value="overlay">overlay</option>
                                            <option name="vertical-menu-effect" value="push">Push</option>
                                        </select></li>
                                    <li class="theme-option"><p class="sub-title drp-title">Hide/Show Border</p><select
                                                id="vertical-border-style" class="form-control minimal">
                                            <option name="vertical-border-style" value="solid">Style 1</option>
                                            <option name="vertical-border-style" value="dotted">Style 2</option>
                                            <option name="vertical-border-style" value="dashed">Style 3</option>
                                            <option name="vertical-border-style" value="none">No Border</option>
                                        </select></li>
                                    <li class="theme-option"><p class="sub-title drp-title">Drop-Down Icon</p><select
                                                id="vertical-dropdown-icon" class="form-control minimal">
                                            <option name="vertical-dropdown-icon" value="style1">Style 1</option>
                                            <option name="vertical-dropdown-icon" value="style2">style 2</option>
                                            <option name="vertical-dropdown-icon" value="style3">style 3</option>
                                        </select></li>
                                    <li class="theme-option"><p class="sub-title drp-title">Sub Menu Drop-down Icon</p>
                                        <select id="vertical-subitem-icon" class="form-control minimal">
                                            <option name="vertical-subitem-icon" value="style1">Style 1</option>
                                            <option name="vertical-subitem-icon" value="style2">style 2</option>
                                            <option name="vertical-subitem-icon" value="style3">style 3</option>
                                            <option name="vertical-subitem-icon" value="style4">style 4</option>
                                            <option name="vertical-subitem-icon" value="style5">style 5</option>
                                            <option name="vertical-subitem-icon" value="style6">style 6</option>
                                        </select></li>
                                </ul>
                            </div>
                            <ul>
                                <li><p class="selector-title">Header Brand color</p></li>
                                <li class="theme-option">
                                    <div class="theme-color"><a href="#" class="logo-theme" logo-theme="theme1"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="logo-theme"
                                                                                                         logo-theme="theme2"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="logo-theme"
                                                                                                         logo-theme="theme3"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="logo-theme"
                                                                                                         logo-theme="theme4"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="logo-theme"
                                                                                                         logo-theme="theme5"><span
                                                    class="head"></span><span class="cont"></span></a></div>
                                </li>
                                <li><p class="selector-title">Header color</p></li>
                                <li class="theme-option">
                                    <div class="theme-color"><a href="#" class="header-theme"
                                                                header-theme="theme1"><span class="head"></span><span
                                                    class="cont"></span></a><a href="#" class="header-theme"
                                                                               header-theme="theme2"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="header-theme"
                                                                                                         header-theme="theme3"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="header-theme"
                                                                                                         header-theme="theme4"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="header-theme"
                                                                                                         header-theme="theme5"><span
                                                    class="head"></span><span class="cont"></span></a><a href="#"
                                                                                                         class="header-theme"
                                                                                                         header-theme="theme6"><span
                                                    class="head"></span><span class="cont"></span></a></div>
                                </li>
                                <li><p class="selector-title">Active link color</p></li>
                                <li class="theme-option">
                                    <div class="theme-color"><a href="#" class="active-item-theme small"
                                                                active-item-theme="theme1">&nbsp;</a><a href="#"
                                                                                                        class="active-item-theme small"
                                                                                                        active-item-theme="theme2">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme3">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme4">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme5">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme6">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme7">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme8">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme9">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme10">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme11">&nbsp;</a><a
                                                href="#" class="active-item-theme small" active-item-theme="theme12">&nbsp;</a>
                                    </div>
                                </li>
                                <li><p class="selector-title">Menu Caption Color</p></li>
                                <li class="theme-option">
                                    <div class="theme-color"><a href="#" class="leftheader-theme small"
                                                                lheader-theme="theme1">&nbsp;</a><a href="#"
                                                                                                    class="leftheader-theme small"
                                                                                                    lheader-theme="theme2">&nbsp;</a><a
                                                href="#" class="leftheader-theme small"
                                                lheader-theme="theme3">&nbsp;</a><a href="#"
                                                                                    class="leftheader-theme small"
                                                                                    lheader-theme="theme4">&nbsp;</a><a
                                                href="#" class="leftheader-theme small"
                                                lheader-theme="theme5">&nbsp;</a><a href="#"
                                                                                    class="leftheader-theme small"
                                                                                    lheader-theme="theme6">&nbsp;</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slimScrollBar"
                         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 438.737px;"></div>
                    <div class="slimScrollRail"
                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
                <ul>
                    <li><a href="http://html.codedthemes.com/Adminty/doc" target="_blank"
                           class="btn btn-primary btn-block m-r-15 m-t-5 m-b-10">Online Documentation</a></li>
                    <li class="text-center"><span
                                class="text-center f-18 m-t-15 m-b-15 d-block">Thank you for sharing !</span><a
                                href="#!" target="_blank" class="btn btn-facebook soc-icon m-b-20"><i
                                    class="feather icon-facebook"></i></a><a href="#!" target="_blank"
                                                                             class="btn btn-twitter soc-icon m-l-20 m-b-20"><i
                                    class="feather icon-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}