{% extends  "index.html.twig"%}
{% block c %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h4>Formulaire de modification d'un produit</h4>
                                        <span>Veuillez Remplir tout les champs</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>Formulaire de modification</h5>

                                    </div>
                                    <div class="card-block">
                                        <form method="post">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">nom du produit</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="nomProduit" id="nomProduit" value="{{ produit.nomProduit }}" >
                                                    <span class="messages"></span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Quantité du produit</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="quantite" id="quantite" value="{{ produit.quantite }}">
                                                    <span class="messages"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Prix de vente du produit</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="prixVente" id="prixVente" value="{{ produit.prixVente }}">
                                                    <span class="messages"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Prix d'achat du produit</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="prixAchat" id="prixAchat" value="{{ produit.prixAchat }}">
                                                    <span class="messages"></span>
                                                </div>
                                            </div>



                                            <div class="form-group row">
                                                <label class="col-sm-2"></label>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary m-b-0">Modifier Produit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="styleSelector">
            </div>
        </div>
    </div>
    </div>


{% endblock %}