{% extends  "index.html.twig"%}
{% block c %}

    <header class="header-area clearfix">
        <div class="header-top">
            <div class="container">
                <div class="border-bottom-1">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="welcome-area">
                                {% if app.user %}
                                    <p> Bienvenue {{ app.user.username }} ! </p>
                                {% else %}
                                    <p> Bienvenue  ! </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="account-curr-lang-wrap f-right">
                                <ul>
                                    <li class="top-hover"><a href="#">Mon compte  <i class="ion-chevron-down"></i></a>
                                        <ul>

                                            <li><a href="#">Wishlist  </a></li>
                                            {% if app.user %}
                                                <li><a href="{{ path('fos_user_profile_show') }}">Mon profile</a></li>
                                                <li><a href="{{ path('fos_user_security_logout') }}">se déconnecter</a></li>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <li><a href="{{ path('backoffice') }}">Backoffice</a></li>
                                                {% endif %}
                                            {% else %}
                                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                                            {%endif  %}


                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom transparent-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="logo">
                            <a href="#">
                                <img src="{{ asset('img/logo/logo.png') }}" alt="something" />


                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-6">
                        <div class="header-bottom-right">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="top-hover"><a href="{{ path('acceuil') }}">Acceuil</a>

                                        </li>

                                        <li class="mega-menu-position top-hover"><a href="{{ path('displayproduit') }}">shop</a>
                                            <ul class="mega-menu">
                                                <li>
                                                    {% for entity in categorieF %}
                                                        <ul>
                                                            <li class="mega-menu-title">{{ entity.nomCategorie }}</li>
                                                            <li><a href="#">{{ entity.souscategorie.nomSousCategorie }}</a></li>

                                                        </ul>
                                                    {% endfor %}
                                                </li>
                                                <li>



                                                </li>
                                            </ul>
                                        </li>

                                        <li><a href={{ path('displayforum') }}>Forum</a></li>
                                        <li class="top-hover"><a href="{{ path('displayblog') }}">blog</a>

                                        <li class="top-hover"><a href="{{ path('displayreclamation') }}">Reclamation</a>

                                        </li>


                                        </li>
                                        <li><a href="{{ path('displayevents') }}">Evenements</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-cart">
                                <a href="#">
                                    <div class="cart-icon">
                                        <i class="ion-bag"> </i>
                                        <span class="count-style">02</span>
                                    </div>
                                    <div class="cart-text">
                                        <span class="digit"></span>
                                        <span>$0.00</span>
                                    </div>
                                </a>
                                <div class="shopping-cart-content">
                                    <ul>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#">
                                                    <img src="{{ asset('img/cart/cart-1.jpg') }}" alt="something" />
                                                </a>
                                            </div>

                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Phantom Remote </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="ion ion-close"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#">

                                                    <img src="{{ asset('img/cart/cart-2.jpg') }}" alt="something" />
                                                </a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Phantom Remote</a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="ion ion-close"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>Shipping : <span>$20.00</span></h4>
                                        <h4>Total : <span class="shop-total">$260.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn">
                                        <a href="{{ path('displaypanier') }}">Voir</a>
                                        <a href="#">check-out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>





{% endblock %}



{% block content %}

    <div class="shop-page-area pt-75 pb-75">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="banner-area pb-30">
                        <a href="DetailsProduit.html.twig"><img alt="" src="{{ asset('img/banner/banner-49.jpg') }}"></a>
                    </div>
                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <ul class="view-mode">
                                <li class="active"><a href="#product-grid" data-view="product-grid"><i class="fa fa-th"></i></a></li>
                                <li><a href="#product-list" data-view="product-list"><i class="fa fa-list-ul"></i></a></li>
                            </ul>
                            <p>Showing 1 - 20 of 30 results  </p>
                        </div>
                        <div class="product-sorting-wrapper">
                            <div class="product-shorting shorting-style">
                                <label>View:</label>
                                <select>
                                    <option value=""> 20</option>
                                    <option value=""> 23</option>
                                    <option value=""> 30</option>
                                </select>
                            </div>
                            <div class="product-show shorting-style">
                                <label>Sort by:</label>
                                <select>
                                    <option value="">Default</option>
                                    <option value=""> Name</option>
                                    <option value=""> price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="grid-list-product-wrapper">
                        <div class="product-grid product-view pb-20">
                            <div class="row">


                                {% for entity in produits %}




                                    <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                        <div class="product-wrapper">
                                            <div class="product-img">
                                                <a href="{{  path('DetailsProduit',{'id':entity.id,'nomProduit':entity.nomProduit,'prixVente':entity.prixVente,'photoProduit':entity.photoProduit,'quantite':entity.quantite} )}}">
                                                    <img alt="" src="{{ asset('img/product/'~entity.photoProduit) }}">
                                                </a>
                                                <div class="product-action">
                                                    <a class="action-wishlist" href="#" title="Wishlist">
                                                        <i class="icon-heart"></i>
                                                    </a>
                                                    <a class="action-cart" href="#" title="Add To Cart">
                                                        <i class="icon-handbag"></i>
                                                    </a>
                                                    <a class="action-compare" href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                        <i class="icon-magnifier-add"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content text-center">
                                                <h4>
                                                    <a href="{{  path('DetailsProduit',{'id':entity.id,'nomProduit':entity.nomProduit,'prixVente':entity.prixVente,'photoProduit':entity.photoProduit,'quantite':entity.quantite} )}}"> {{ entity.nomProduit }}</a>
                                                </h4>
                                                <div class="product-price-wrapper">
                                                    <span> PRICE: {{ entity.prixVente }}TND</span>
                                                </div>
                                            </div>
                                            <div class="product-list-details">

                                                <div class="product-price-wrapper">
                                                    <span>{{ entity.prixVente }}</span>

                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                <div class="shop-list-cart-wishlist">
                                                    <a href="#" title="Wishlist"><i class="icon-heart"></i></a>
                                                    <a href="#" title="Add To Cart"><i class="icon-handbag"></i></a>
                                                    <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                        <i class="icon-magnifier-add"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                {% endfor %}


                            </div>
                        </div>
                        <div class="pagination-total-pages">
                            <div class="pagination-style">
                                <ul>
                                    <li><a class="prev-next prev" href="#"><i class="ion-ios-arrow-left"></i> Prev</a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">10</a></li>
                                    <li><a class="prev-next next" href="#">Next<i class="ion-ios-arrow-right"></i> </a></li>
                                </ul>
                            </div>
                            <div class="total-pages">
                                <p>Showing 1 - 20 of 30 results  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">Shop By Categories</h4>
                            <div class="shop-catigory">
                                <ul id="faq">
                                    {% for entity in categorieF %}
                                        <li> <a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-1">{{ entity.nomCategorie }}  <i class="ion-ios-arrow-down"></i></a>
                                            <ul id="shop-catigory-1" class="panel-collapse collapse show">
                                                <li><a href="#">{{ entity.souscategorie.nomSousCategorie }}</a></li>
                                            </ul>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">Price Filter</h4>
                            <div class="price_filter mt-25">
                                <span>Range:  $100.00 - 1.300.00 </span>
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                    </div>
                                    <button type="button">Filter</button>
                                </div>
                            </div>
                        </div>
                        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">By Brand</h4>
                            <div class="sidebar-list-style mt-20">
                                <ul>
                                    <li><input type="checkbox"><a href="#">Poure </a></li>
                                    <li><input type="checkbox"><a href="#">Eveman </a></li>
                                    <li><input type="checkbox"><a href="#">Iccaso </a></li>
                                    <li><input type="checkbox"><a href="#">Annopil </a></li>
                                    <li><input type="checkbox"><a href="#">Origina </a></li>
                                    <li><input type="checkbox"><a href="#">Perini  </a></li>
                                    <li><input type="checkbox"><a href="#">Dolloz </a></li>
                                    <li><input type="checkbox"><a href="#">Spectry </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">By Color</h4>
                            <div class="sidebar-list-style mt-20">
                                <ul>
                                    <li><input type="checkbox"><a href="#">Black </a></li>
                                    <li><input type="checkbox"><a href="#">Blue </a></li>
                                    <li><input type="checkbox"><a href="#">Green </a></li>
                                    <li><input type="checkbox"><a href="#">Grey </a></li>
                                    <li><input type="checkbox"><a href="#">Red</a></li>
                                    <li><input type="checkbox"><a href="#">White  </a></li>
                                    <li><input type="checkbox"><a href="#">Yellow   </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">Compare Products</h4>
                            <div class="compare-product">
                                <p>You have no item to compare. </p>
                                <div class="compare-product-btn">
                                    <span>Clear all </span>
                                    <a href="#">Compare <i class="fa fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                            <h4 class="shop-sidebar-title">Popular Tags</h4>
                            <div class="shop-tags mt-25">
                                <ul>
                                    <li><a href="#">Bouquet</a></li>
                                    <li><a href="#">Event</a></li>
                                    <li><a href="#">Gift</a></li>
                                    <li><a href="#">Joy</a></li>
                                    <li><a href="#">Love </a></li>
                                    <li><a href="#">Special</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock  %}