
{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}



{% block content %}

    {% for suggestion in suggestions %}
        <ul>
            {% for product in suggestion %}
                <li>
                    <a href="{{ path('recommended', { 'id' : product.id }) }}">

                        <h4 class="indieflower">{{ product.nomProduit }}</h4>
                    </a>
                    <h5 class="indieflowerprix">{{ product.prixVente }}€</h5>

                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <nav>
        {% for categorie in categories %}
            <a href="#">{{ categorie.nomCategorie }}</a>

        {% endfor %}
    </nav>

{% endblock %}