{% extends 'front.html.twig' %}
{% block container %}



    {% set totalHT = 0 %}

    <table id="bootstrap-data-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>prix</td>
            <td>produit</td>
            <td>Remove from wishlist</td>
            <td>add to card </td>


        </tr>
        </thead>
        <tbody>
        {% if produits ==null %}
        <tr>
            <th colspan="6"> Vide </th>
        </tr>
        {% else %}
        {% for entity in produits %}

            <tr>
                <td>{{ entity.prixVente }}</td>


                <td  >


                    <img alt="" src="{{ asset('uploads/produits/'~entity.photoProduit) }}">
                    <span> {{ entity.nomProduit }}</span>
                </td>

                <td>


                    <p class="bottom-area d-flex">


                            <span class="ml-auto"> <a href="{{ path('RemoveOneFromWishlist', {'id':entity.id}) }}" >Remove</a></span>

                    </p>


                </td>
                <td>



                    <p class="bottom-area d-flex">


                            <span class="ml-auto"> <a href="{{ path('payer', {'id':entity.id}) }}" class="link" style="color: #7bed3e" >Acheter ce produit</a></span>


                    </p>


                </td>



            </tr>


        {% endfor %}
        {% endif %}

        </tbody>

    </table>
    <table>
        <body>
        {% for entity in produits %}
            <tr>
                <th>Produit</th>

                <th>Prix</th>


            </tr>
            <tr>
                <td class="product-name"><a href="#">
                        <input type="text" hidden id="produit_id" name="produit_id"
                               value="Dutchman's Breeches">{{ entity.nomProduit }} </a></td>
                <td class="product-price-cart"><span class="amount"><input type="text" hidden
                                                                           name="prixunitaire"
                                                                           id="prixunitaire"
                                                                           value="260">{{ entity.prixVente }}</span>
                </td>
                {#<td class="product-quantity">
                    <div class="pro-dec-cart">
                        <div class="cart-plus-minus-box">
                            <form action="{{ path('ajouter', { 'id' : entity.id }) }}" method="get">
                                <input type="number" name="qte" id="quantite" value="{{ entity.id }}" >

                            </form>
                        </div>
                    </div>
                </td>#}
                {% set totalHT = totalHT + entity.prixVente  %}
                <td class="product-subtotal"><input type="text" value="client1" name="user_id"
                                                    id="user_id"
                                                    hidden> {{ entity.id }}
                    x {{ entity.prixVente }}
                </td>
            </tr>
        {% endfor %}
        <h5>Total products <span>{{ totalHT }}</span></h5>
        <div class="total-shipping">
            <h5>Total Livraison</h5>
            <ul>
                <li> Standard <span>7.00TND</span></li>
            </ul>
        </div>{% set totalHT=totalHT+7 %}
        <h4 class="grand-totall-title">Grand Total <span>{{ totalHT }}</span></h4>
        <p class="bottom-area d-flex">


            {#<span class="ml-auto"> <a href="{{ path('payer', {'totalHT': totalHT })}}" class="link" > Payer </a></span>#}



        </p>
        </body>
        <input type="text" name="nom" id="prix" style="display: none;" value="{{ totalHT }}">
        <div class="row">
            <div class="form-group ">

                <div id="paypal-button-container"></div>
            </div>
        </div>

    </table>

    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

    <script>
        var prix =  document.getElementById('prix').value

        // Render the PayPal button into paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: prix.toString()
                        }
                    }]
                })
            },
            local: 'en_US',
            style:{
                size:'large',
                color:'gold',
                shape: 'pill'
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + 'med')
                })
            }


        }).render('#paypal-button-container')
    </script>



{% endblock  %}