{%  extends 'front.html.twig' %}



{% block container %}

    <a class="" style="float: left; " ><a href="{{ path('list_loisir') }}"></a></a></i>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ render(controller('AppBundle:Notification:display')) }}
    {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% endif %}
    </li>
    <h1>Lists of Loisirs !</h1>

    <div class="album py-5 bg-light">
        <div class="container">

            <h2>Search A Loisir !!</h2>


            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control" placeholder="Search here">
                </div>
                <!-- /input-group -->
            </div>

            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"> Entities<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul><br><br><br><br>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'loisirs') {
                                                    if (id !== 'error') {
                                                        console.log(value[1]);
                                                        entitySelector.append('<li><b>'+value[1]+'</b><a href="/detailedloisir/'+id+'">'+'<img src="/uploads/loisir/'+value[0]+'" style="width: 50px; height: 50px"/>'+'</a></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
            <div class="post-container">
                <div class="row">


                    <section class="featured section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="heading">
                                        <h1 class="section-title">Latest Posts</h1>
                                        <h4 class="sub-title">You can also post your own thoughts</h4>
                                    </div>
                                </div>

                                {% for loisirs in loisirs %}

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                        <div class="featured-box">
                                            <figure>
                                                <div class="homes-tag featured"></div>
                                                <div class="homes-tag rent"><i class="lni-heart"></i></div>

                                                <a href="{{ path('detailed_loisir',{'id': loisirs.id}) }}"><img class="img-fluid" src="{{ asset('uploads/loisir/' ~ loisirs.photo) }}" alt=""></a>
                                            </figure>
                                            <div class="content-wrapper">
                                                <div class="feature-content">
                                                    <h4><a href="{{ path('detailed_loisir',{'id': loisirs.id}) }}">{{ loisirs.title }}</a></h4>
                                                    <p class="listing-tagline">{{ loisirs.description|trim }}</p>
                                                    <div class="meta-tag">
                                                        <div class="listing-review">
                                                            <span class="review-avg"></span>

                                                        </div>
                                                        <div class="user-name">
                                                            <a href="#"><i class="lni-user"></i>{{ loisirs.creator }}</a>
                                                        </div>
                                                        <div class="listing-category">
                                                            <a href="#"><i class="lni-alarm-clock"></i>{{ loisirs.postdate|date() }} </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="listing-bottom clearfix">
                                                    <div class="btn-group">
                                                        {% if(loisirs.creator.id== app.user.id) %}
                                                        <a href="{{ path('update_loisir',{'id': loisirs.id}) }}"><button type="button" class="btn btn-sm btn-outline-info">Update</button></a>
                                                        <a href="{{ path('delete_loisir',{'id': loisirs.id}) }}"><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>


                                                        {% endif %}

                                                        <a href="{{ path('detailed_loisir',{'id': loisirs.id}) }}"><button type="button" class="btn btn-sm btn-outline-primary">View</button></a>
                                                        <a href="{{ path('loisir_like', {'id':loisirs.id}) }}">  <button type="button" class="btn btn-sm btn-outline-info">Like</button></a>

                                                            {% if app.user and loisirs.isLikeByUser(app.user) %}


                                                            <button type="button" class="btn btn-sm btn-outline-info">Liked</button></a>
                                                            {% else %}

                                                                <button type="button" class="btn btn-sm btn-outline-info">Disliked</button></a>

                                                            {% endif %}
                                                            <span class="js-likes">{{ loisirs.likes | length }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                    </section>



                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event)
        {
            event.preventDefault();

            const url= this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');
            axios.get(url).then(function(response) {
                spanCount.textContent= response.data.likes;
                if(icone.classList.contains('fas')) {

                    icone.classList.replace('fas', 'far');
                }
                else {
                    icone.classList.replace('far', 'fas');

                } }).catch(function(error) {
                if(error.response.status ===403){
                    $(function() {
                        $.bootstrapGrowl("Veuillez vous connecter pour pouvoir aimer cette annonce !");

                    })
                }
            });
        }
        document.querySelectorAll('a.js-like').forEach(function (link) {
            link.addEventListener('click',onClickBtnLike);
        })

    </script>


{% endblock %}