{% extends  "front.html.twig"%}

{% block container %}

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Covoitureur</a></li>
                                <li><a href="#">Devenir Covoitureur</a></li>
                                <li class="active">Formulaire</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">


            <div class="row">



                <div class="col-lg-10">
                   {# <div class="card">
                        {% for message in app.flashes('success') %}

                        <div class="alert alert-success">
                            {{ message }}
                            {% endfor %}
                        </div>#}

                        <div class="card-header">
                            <strong>Ajouter </strong> Covoitureur
                        </div>
                        <div class="card-body card-block">
                            {{ form_start(form) }}

                            <div class="form-group">
                                {{ form_label(form.nationalite,"nationalite") }}
                                {{ form_widget(form.nationalite,{'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.nationalite) }}

                            </div>




                            <div class="form-group">
                                {{ form_label(form.annePremis,"annePremis ") }}
                                {{ form_widget(form.annePremis,{'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.annePremis) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.nsvehicule,"nsvehicule") }}
                                {{ form_widget(form.nsvehicule,{'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.nsvehicule) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.trajet,"trajet") }}
                                {{ form_widget(form.trajet,{'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(form.trajet) }}
                                <a href="{{ path('add_trajet'  )}}" class="label label-danger">ajouter nouveau trajet</a>
                            </div>

                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">


                </div>

                <div class="col-lg-6">

                </div>



                <div class="col-lg-6">

                </div>





            </div>


        </div><!-- .animated -->
    </div><!-- .content -->


{% endblock container %}