{% extends  "front.html.twig"%}

{% block container %}

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">list des covoiturages</h3>

                <div class="table-responsive">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>nationalite</th>
                            <th>annePremis</th>
                            <th>nsvehicule</th>
                            <th>trajet</th>

                            <th>prix </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for covoitureur in covoitureur %}
                            <tr>
                                <td>{{ covoitureur.id }}</td>
                                <td>{{ covoitureur.nationalite }}</td>
                                <td>{{ covoitureur.annePremis }}</td>

                                <td> {{ covoitureur.nsvehicule }}</td>
                                <td>{{ covoitureur.trajet.nom }}</td>

                                <td>{{ covoitureur.trajet.distance*0.5 }}</td>
                                <td><a href="{{ path('signale' ,{'Id':covoitureur.id} )}}" class="label label-danger">signale</a>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}