{% extends  "index.html.twig"%}
{% block c %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Agence</a></li>
                            <li><a href="#">Ajouter Agence</a></li>
                            <li class="active">Formulaire</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">


        <div class="row">



            <div class="col-lg-10">
                <div class="card">
                    {% for message in app.flashes('success') %}

                    <div class="alert alert-success">
                        {{ message }}
                        {% endfor %}
                    </div>

                    <div class="card-header">
                        <strong>Ajouter </strong> Agence
                    </div>
                    <div class="card-body card-block">
                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.nom,"Nom agence") }}
                            {{ form_widget(form.nom,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.nom) }}

                        </div>

                        <div class="form-group">

                            <div class="col-lg-16" >
                                <label style="animation: alternate" size="5px">Veuillez indiquez votre adresse </label>

                                <div id="mapid" style="width: 640px;height: 480px"></div>

                            </div>


                        </div>
                        <div class="form-group">
                            {{ form_label(form.latitude,"Latitude") }}
                            {{ form_widget(form.latitude,{'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.latitude) }}
                        </div>

                        <div class="form-group" >
                            {{ form_label(form.longitude,"Longitude") }}
                            {{ form_widget(form.longitude,{'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.longitude) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.telephone,"Numero telephone") }}
                            {{ form_widget(form.telephone,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.telephone) }}

                        </div>
                        <div class="form-group">
                            {{ form_label(form.type,"Type agence") }}
                            {{ form_widget(form.type,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.info,"Information") }}
                            {{ form_widget(form.info,{'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.info) }}
                        </div>


                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">


            </div>

            <div class="col-lg-6">

            </div>



            <div class="col-lg-6">

            </div>





        </div>


    </div><!-- .animated -->
</div><!-- .content -->
    <script>
        var v;
        var v1;
        window.onload=function () {
            console.log("page charg");

            var mapboxUrl= 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';

            var mapboxAttribution='Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> ' +
                'contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';




            var mapboxtoken='pk.eyJ1IjoibWVkY2FiaXN0ZSIsImEiOiJjanRudmxqNDMwZ3J6NDRuMm5qZ2Zka2F0In0.YlvlWPvJrQny19UOUWdmjA';

            var satellite=L.tileLayer(mapboxUrl, {
                attribution:mapboxAttribution ,
                maxZoom: 18,
                id: 'mapbox.satellite',
                accessToken: mapboxtoken
            });

            var streets=L.tileLayer(mapboxUrl, {
                attribution:mapboxAttribution ,
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: mapboxtoken
            });

            var mymap = L.map('mapid',{
                center:[36.723620, 9.648655],
                zoom:6,
                layers:[streets,satellite]
            });

            var baseMaps = {
                "Rues": streets,
                "satellite": satellite
            };

            L.control.layers(baseMaps).addTo(mymap);

            var marker = L.marker([51.505, -0.09]).addTo(mymap);
            marker.bindPopup("<b>Hello world!</b><br>I am a popup.");

            var popup = L.popup();

            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(mymap);
                v= e.latlng.lat.toString();
                v1= e.latlng.lng.toString();
                var elem = document.getElementById("{{ form.latitude.vars.id }}"); // Get text field
                var elem1 = document.getElementById("{{ form.longitude.vars.id }}"); // Get text field
                elem.value = v; // Change field
                elem1.value = v1; // Change field

            }
            mymap.on('click', onMapClick);



        }

    </script>

{% endblock c %}