{% extends  "index.html.twig"%}

{% block c %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Agence</a></li>
                            <li><a href="#">Agence M à J</a></li>
                            <li class="active">Table Agence</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-auto">
                <div class="col-md-auto">
                    <a href="{{ path('_create') }}" class="btn btn-primary btn-sm">Ajouter</a>

                </div>
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Agence</strong>
                        {% for message in app.flashes('success') %}

                        <div class="alert alert-success">
                            {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body">

                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <td>Id </td>
                                <td>Nom </td>
                                <td>Type</td>
                                <td>Latitude</td>
                                <td>Longitude</td>
                                <td>Telephone</td>
                                <td>Action</td>

                            </tr>
                            </thead>
                            <tbody>

                            {% for agence in agence %}
                                <tr>
                                    <td>{{ agence.id }}</td>
                                    <td>{{ agence.nom }}</td>
                                    <td>{{ agence.type }}</td>
                                    <td>{{ agence.latitude }}</td>
                                    <td>{{ agence.longitude }}</td>
                                    <td>{{ agence.telephone }}</td>
                                    <td>
                                        <a href="{{ path('view_agence',{'id':agence.id}) }}" style="color:#0101DF;">Afficher</a>
                                        <a href="{{ path('edir_agence',{'id':agence.id}) }}" style="color:#40FF00;">Modifier</a>
                                        <a href="{{ path('delete_agence',{'id':agence.id}) }}" style="color:#FF0000;" >Supprimer</a>
                                        <a href="{{ path('medadmin_geo',{'id':agence.id}) }}" style="color:#000000;">Maps</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock c %}