{% extends  "index.html.twig"%}
{% block c %}
<input type="text" name="longitude" id="longitude" style="display: none;" value="{{ agence.longitude }}">
<input type="text" name="latitude" id="latitude" style="display: none;" value="{{ agence.latitude }}">
<input type="text" name="nom" id="nom" style="display: none;" value="{{ agence.nom }}">
<div class="content">
    <div class="card-header">

        <strong class="card-title" style="color:#0101DF;">Agence Localisation</strong>
    </div>

    <div class="col-md-auto" id="mapid" style="width: 1010px;height: 480px"></div>
    <div class="card-body">
        <a href="{{ path('_agenge_MJ') }}" class="btn btn-primary btn-sm">Retour</a>

    </div>
</div>

<script>
    var v;
    var v1;
    var lat =  Number(document.getElementById('latitude').value);
    var lng= Number(document.getElementById('longitude').value);
    var pop= document.getElementById('nom').value;
    window.onload=function () {
        console.log("page charg");

        var mapboxUrl= 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';

        var mapboxAttribution='Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> ' +
            'contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';




        var mapboxtoken='pk.eyJ1IjoibWVkY2FiaXN0ZSIsImEiOiJjanRudmxqNDMwZ3J6NDRuMm5qZ2Zka2F0In0.YlvlWPvJrQny19UOUWdmjA';


        var streets=L.tileLayer(mapboxUrl, {
            attribution:mapboxAttribution ,
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: mapboxtoken
        });
        var satellite=L.tileLayer(mapboxUrl, {
            attribution:mapboxAttribution ,
            maxZoom: 18,
            id: 'mapbox.satellite',
            accessToken: mapboxtoken
        });

        var mymap = L.map('mapid',{
            center:[36.723620, 9.648655],
            zoom:6,
            layers:[satellite,streets]
        });

        var baseMaps = {
            "Rues": streets,
            "satellite": satellite
        };

        L.control.layers(baseMaps).addTo(mymap);

        var marker = L.marker([lat,lng]).addTo(mymap);
        marker.bindPopup("<b>Welcom!</b><br>Nom agence :"+pop);

        var popup = L.popup();




    }

</script>
    {% endblock c %}