{% extends  "index.html.twig"%}
{% block c %}

    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Accueil</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="form-group">
                    <div id="div_chart"></div>

                </div>
                <div class="form-group">
                    <div id="div_chart2"></div>

                </div>
                <div class="col-md-auto">

                    <div class="card">

                        <div class="card-body">

                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <td>Id </td>
                                    <td>UserName </td>
                                    <td>Email</td>
                                    <td>Password</td>
                                    <td>Roles</td>
                                    <td>Action</td>

                                </tr>
                                </thead>
                                <tbody>

                                {% for user in user %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.password }}</td>
                                        <td>
                                            {% for item in user.roles  %}
                                                {{ item }}<br>
                                            {% endfor %}

                                        </td>
                                        <td>
                                            <a href="{{ path('view_agence',{'id':user.id}) }}" style="color:#0101DF;">Afficher</a>

                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
    <script type="text/javascript">
        {{ gc_draw(piechart1, 'div_chart2') }}
    </script>
{% endblock c %}