

{% extends  "index.html.twig"%}

{% block c %}


<!-- Set up a container element for the button -->
    <div class="container">

<div id="paypal-button-container"></div>
    </div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '30'
                    }
                }]
            });
        },
        local: 'en_US',
        style:{
            size:'large',
            color:'gold',
            shape: 'pill'
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + 'med');
            });
        }


    }).render('#paypal-button-container');
</script>
{% endblock c %}