
{% extends  "index.html.twig"%}

{% block c %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">Membre</a></li>
                                <li class="active">List Membre</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-auto">

                    <div class="card">

                        <div class="card-body">

                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <td>Id </td>
                                    <td>UserName </td>
                                    <td>Email</td>
                                    <td>Password</td>
                                    <td>Roles</td>
                                    <td>Action</td>

                                </tr>
                                </thead>
                                <tbody>

                                {% for user in user %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.password }}</td>
                                        <td>
                                                {% for item in user.roles  %}
                                                   {{ item }}<br>
                                                {% endfor %}

                                            </td>
                                        <td>
                                            <a href="{{ path('view_agence',{'id':user.id}) }}" style="color:#0101DF;">Afficher</a>

                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

    {% block javascript %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('#bootstrap-data-table-export').DataTable();
            } );
        </script>
        {% endblock javascript %}
{% endblock c %}