{% extends  "index.html.twig"%}
{% block c %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Basic</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">

        <div class="breadcrumb-item">
            <a href="{{ path('view_agence',{'id':agence.id}) }}" style="color:#0101DF;"> Afficher </a>
            <a href="{{ path('edir_agence',{'id':agence.id}) }}" style="color:#40FF00;">Modifier</a>
            <a href="{{ path('delete_agence',{'id':agence.id}) }}" style="color:#FF0000;" >Supprimer</a>
            <a href="{{ path('medadmin_geo',{'id':agence.id}) }}" style="color:#000000;">Maps</a>
        </div>
        <div class="row">




            <div class="card-body">

                <h3>Agence</h3>
                <div class="list-group">
                    {% for mess in app.flashes('success') %}

                    <div class="alert alert-success">
                        {{ mess }}
                        {% endfor %}
                    </div>
                    <p class="list-group-item">{{ agence.nom }}</p>
                    <p class="list-group-item">{{ agence.type }}</p>
                    <p class="list-group-item">{{ agence.adresse }}</p>
                    <p class="list-group-item">{{ agence.info }}</p>
                    <p class="list-group-item">{{ agence.telephone }}</p>

                </div>
                <div class="breadcrumb-item">
                    <a href="{{ path('_agenge_MJ') }}" class="btn btn-primary btn-sm">Retour</a>

                </div>
            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">


            </div>

            <div class="col-lg-6">

            </div>



            <div class="col-lg-6">

            </div>





        </div>


    </div><!-- .animated -->
</div><!-- .content -->
{% endblock c %}
