
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>


<div class="col-lg-3 col-md-3 col-sm-12 title-area">



</div>




<br>
<br>
<br>

<center><h1><u>Détails de Transport</u></h1></center>
<br>
<br>
<br>


<body>


<center>


<b>compagnie :</b> {{transport.compagnie }}<br><br>
<b>type de transport  :</b> {{transport.type }}<br><br>
<b>horaire  :</b> {{transport.horaire }}<br><br>
<b>prix  :</b> {{transport.prix }}<br><br>
<b>trajet  :</b> {{transport.trajet.nom }}<br><br>
<br><br>

</center>




</body>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<hr>
<b>.WoRLd-FrIeNdShIp.</b>


</html>