{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container form-group">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 ">

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

        </div>
    </div>
</div>
    <div class="container form-group">
    <a class="link" href="{{ path('medmed_acc')}}">
        Accueil

    </a>
    </div>
{% endblock fos_user_content %}
